:root {
  --primary-color: #00adb5;
  --grey-color: #393e46;
  --black-color: #242424;
  --cream-color: #eeeeee;
}

.navbar {
  background: rgba(0, 0, 0, 0.213);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-logo {
  color: var(--primary-color);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.5rem;
  width: 50px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
}

.nav-item {
  height: 100px;
}

.nav-item:hover {
  border-bottom: 2px solid #f00946;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.nav-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.btn {
  width: 120px;
  height: 30px;
  border: none;
  color: var(--primary-color);
  font-size: 25px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.btn-border {
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: var(--cream-color);
  font-size: 20px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
  color: white;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    justify-content: start;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgba(0, 0, 0, 0.926);
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #f00946;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .navbar-icon {
    margin-right: 0.5rem;
    margin-left: -30px;
    margin-top: -15px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }

  .btn {
    width: 120px;
    height: 30px;
    border: none;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
  }

  .btn-border {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: var(--cream-color);
    font-size: 20px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
}
