:root {
  --primary-color: #00adb5;
  --grey-color: #53555a;
  --black-color: #242424;
  --cream-color: #afacac;
  --divider-color: #eae8e8;
}

.pr_color {
  color: var(--primary-color);
}

.pr_background {
  background-color: var(--primary-color);
}

.card-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.pr_button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0px 20px;
}

.sc_button {
  background-color: var(--grey-color);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0px 20px;
}

.pr_button:hover {
  background: var(--primary-color);
  opacity: 0.7;
}

.pr_input {
  border: solid var(--primary-color) 1px;
  border-radius: 10px;
}

.w-80 {
  width: 80%;
}

.pr_input:hover {
  border: solid var(--primary-color) 1px;
  opacity: 0.7;
  border-radius: 10px;
}

.pr_input:active {
  border: solid var(--primary-color) 1px;
  opacity: 0.7;
  border-radius: 10px;
}

.header_container {
  width: 100%;
  height: 16.05vh;
  background-color: #fff;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 10;
  position: relative;
}

.content-container {
  width: 100%;
  height: 89.95vh;
  display: flex;
}

.header_container_other {
  width: 100%;
  height: 10.05vh;
  background-color: #fff;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 1;
}

.header_divider {
  height: 0.05vh;
  width: 106%;
  background-color: #eae8e8;
  margin-left: -3%;
  margin-right: -3%;
}

.header_top {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_search_input {
  width: 40%;
  border-radius: 20px;
}

.header_img_container {
  margin-left: 20px;
  margin-right: -40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.header_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.header_icon {
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
  color: #00adb5;
}

.header_top_divider {
  width: 0.5px;
  height: 10vh;
  background-color: var(--divider-color);
}

.header_bottom {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header_bottom_list {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.header_bottom_list_item {
  cursor: pointer;
  color: var(--grey-color);
  font-size: 16px;
  margin-top: 30px;
}

.header_bottom_list_item:hover {
  color: var(--primary-color);
}

.sidebar-container {
  width: 20%;
  background-color: white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 100%;
  z-index: 1px;
}

.sidebar_link {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  justify-content: space-evenly;
}

.sidebar_list_item {
  display: flex;
  height: 20px;
  width: 55%;
  cursor: pointer;
  margin-top: 20px;
  justify-content: start;
  align-items: center;
  color: var(--grey-color);
}

.sidebar_list_item_text:hover {
  color: var(--primary-color);
}

.sidebar_list_item_text {
  font-size: 20px;
  height: 20px;
  color: var(--grey-color);
}

.sidebar_list_item_icon {
  font-size: 20px;
  margin-right: 15px;
  height: 20px;
  color: var(--grey-color);
}

.my_advert_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.advert {
  width: 300px;
  margin-right: 25px;
  margin-bottom: 20px;
  position: relative;
}

.advert_item_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.advert_item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 20px;
  border-radius: 3px;
  background-color: red;
  transform: rotate(-45deg);
  position: absolute;
  left: -2px;
  top: 30px;
}

.advertUsername {
  margin-left: -50px;
  font-size: 13px;
}

.advertPrice_container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advertPrice {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 18px;
  margin-bottom: -0px;
}

.advertNote {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 300px;
  margin-bottom: -20px;
}

.add-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 20px;
}
