
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-username{
    margin-top: 20px;
}

.divider{
    width: 300px;
}

.profile-createdAt{
    display: flex;
    justify-content: space-between;
}

.profile-info-item{
  display: flex;
  margin-top: 5px;
  width: 200px;
  height: 40px;
  align-items: center;
}

.profile-info-item-icon{
  font-size: 23px;
  margin-right: 10px;
}

.profile-info-img-container{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}